@page
@model AboutUs
@{
    ViewData["Title"] = "AboutUs";
}
<div class="sobrenosimagem d-flex justify-content-center mb-3">
    <div class=" mx-auto">
        <img src="~/images/sobrenos600x400.png" width="600" height="400"/>
    </div>
     
</div>
    <div class="sobrenostexto">
        <h3>Sobre Nós</h3>
        <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt lorem id dolor imperdiet, quis ornare ligula porta. Nullam suscipit elementum elementum. Suspendisse ipsum mauris, volutpat ut ligula nec, ullamcorper lacinia metus. Duis consequat dolor odio, facilisis gravida enim rutrum et. Pellentesque venenatis, nibh nec ultrices aliquam, nisi purus euismod felis, vitae sagittis massa metus at massa. Vestibulum varius leo non ultrices pellentesque. Aliquam a venenatis erat. Maecenas tempus justo iaculis turpis ultricies, eget convallis metus rutrum. Fusce eu est sit amet felis sagittis ullamcorper. Vivamus orci ipsum, ornare et mi id, sollicitudin hendrerit lorem. Quisque consectetur justo nunc, ut aliquam lectus facilisis malesuada. Nunc mollis magna in ipsum varius rhoncus. Sed dignissim lectus eleifend, euismod urna id, pharetra augue. Maecenas maximus mollis fermentum. Sed in ex dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

            Curabitur viverra ut augue eu porta. Suspendisse aliquam pharetra libero, vel lobortis neque porttitor ac. In dictum dui velit, eu tempus nulla laoreet eu. Fusce facilisis id lorem ut viverra. Nulla ultricies auctor erat. Praesent dignissim neque pulvinar quam auctor, suscipit pretium turpis ullamcorper. Vestibulum interdum metus eu velit varius hendrerit. In hac habitasse platea dictumst. Integer leo nibh, dignissim in venenatis eget, blandit eget lorem.
           </span>


    </div>