@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">

    <div class="artigo d-flex align-items-center mb-4">

        <img class="me-5" src="/images/artigo.png" width="200" height="200">
        <div class="article">
            <h3>Titulo</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla egestas interdum est, vitae dapibus quam
                mollis quis. Curabitur lorem ante, placerat vel finibus nec,
                pharetra at ipsum. Suspendisse sollicitudin odio vitae odio varius dapibus. Praesent sed ante et orci
                consequat sagittis a ac purus. Phasellus molestie lobortis erat,
                quis pulvinar dolor sagittis eget. Sed dignissim ultrices nisl a dignissim. Integer enim mi, pretium
                eget consequat sed, hendrerit molestie tortor. Duis vitae neque velit.
                Nullam et arcu feugiat, venenatis tortor eget, laoreet risus. Vestibulum efficitur commodo elit ut
                iaculis. Nullam sodales enim dui, auctor luctus dui semper vel.
                Aenean et nisl interdum, placerat sem quis, facilisis augue.
                Nunc tincidunt massa ligula, nec vulputate justo pulvinar id. Mauris tortor tellus, mattis sit amet arcu
                sagittis, porttitor tempus sapien.
                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec nisi
                ligula, cursus eu pretium quis, maximus a tellus.
                Suspendisse volutpat odio id semper cursus. Duis lobortis eleifend felis vitae vulputate. Nunc dignissim
                dignissim pulvinar.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            </p>
        </div>

    </div>
    <img src="/images/logo2.jpeg" width="1272" height="150">


</div>
