@page
@model Servicos
@{
    ViewData["Title"] = "Servicos";
}
<div class="d-flex align-items-center mb-4">

    <div class="imagemservico me-3">
    
        <img src="/images/servicodequarto300x247.png" width="300" height="247" />
    
    </div>
        
        
    <div class="textoservico">
        <h3>
            Serviço de Quarto
        </h3>

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, placeat voluptas!
        Unde ab eos aut nesciunt quae explicabo similique. Eligendi eum earum laborum ducimus
        natus odit autem facere alias eos.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, placeat voluptas!
        Unde ab eos aut nesciunt quae explicabo similique. Eligendi eum earum laborum ducimus
        natus odit autem facere alias eos.
        </p>
     </div>

</div>

<div class="d-flex align-items-center mb-4">

    <div class="imagempiscina me-3">

        <img src="/images/piscinahotel.png" width="300" height="247" />

    </div>


    <div class="textopiscina">
        <h3>
            Piscina
        </h3>

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, placeat voluptas!
            Unde ab eos aut nesciunt quae explicabo similique. Eligendi eum earum laborum ducimus
            natus odit autem facere alias eos.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, placeat voluptas!
            Unde ab eos aut nesciunt quae explicabo similique. Eligendi eum earum laborum ducimus
            natus odit autem facere alias eos.
        </p>
    </div>

</div>

<div class="d-flex align-items-center mb-4">

    <div class="imagempet me-3">

        <img src="/images/petfriendly.jpg" width="300" height="247" />

    </div>


    <div class="textospet">
        <h3>
            Pet Friendly
        </h3>

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, placeat voluptas!
            Unde ab eos aut nesciunt quae explicabo similique. Eligendi eum earum laborum ducimus
            natus odit autem facere alias eos.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, placeat voluptas!
            Unde ab eos aut nesciunt quae explicabo similique. Eligendi eum earum laborum ducimus
            natus odit autem facere alias eos.
        </p>
    </div>

</div>